.bg{
    background: #9A9C46;
    
}
.img1{
    height: 100%;
    margin: 0;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
}

.bor{
    width: 700px;
    height: 1000px;
    flex-shrink: 0;
    border-radius: 55px;
    background: #FFF;
    box-shadow: 33px 28px 36.5px 2px rgba(0, 0, 0, 0.25);
    margin-left: 410px;
    margin-top: 40px;
}
.nom{
    margin-left: 50px;
    transform: translateY(3.75rem);
}
#nom,#prenom{
    height: 25px;
    border-style: solid;
}
.prenom{
    margin-left: 400px;
    transform: translateY(-6px);
}
.email{
    margin-left: 50px;
}
#email{
    width: 512px;
    height: 25px;
    border-style: solid;
}
.tel{
    margin-left: 50px;
}
#tel{
    height: 25px;
    border-style: solid;
}
.age{
    margin-left: 300px;
    transform: translateY(-67px);
}
#age{
    height: 25px;
    width: 60px;
    border-style: solid;
}
.genre{
    margin-left: 469px;
    transform: translateY(-129px);
}
#genre{
    width: 100px;
    height: 25px;
    border-style: solid;
}
.annee{
     margin-left: 50px;
     transform: translateY(-129px);
}
#annee{
    width: 60px;
    height: 25px;
    border-style: solid;
}
.ecole{
    margin-left: 400px;
    transform: translateY(-196px);
}
#ecole{
    height: 25px;
    border-style: solid;
}
.uni{
    margin-left:50px ;
    transform: translateY(-196px);
}
#uni{
    height: 25px;
    border-style: solid;
}
.ville{
    margin-left: 400px;
    transform: translateY(-264px);
}
#ville{
    height: 25px;
    border-style: solid;
}
.anin{
    margin-left:50px ;
    transform: translateY(-260px);
}
#anin{
    height: 25px;
    width: 60px;
    border-style: solid;
}
.andi{
    margin-left:300px ;
    transform: translateY(-320px);
}
#andi{
    height: 25px;
    width: 60px;
    border-style: solid;
}
.filiere{
    margin-left:50px ;
    transform: translateY(-322px);
}
#filiere{
    height: 25px;
    border-style: solid;
    
}
.clubs{
    margin-left: 400px;
    transform: translateY(-390px);
}
#clubs{
    height: 25px;
    border-style: solid;
}
.interets{
    margin-left:50px ;
    transform: translateY(-382px);
}
#interets{
    height: 25px;
    border-style: solid;
}
.reseaux{
    margin-left:400px ;
    transform: translateY(-450px);
}
#reseaux{
    height: 80px;
    border-style: solid;
    border-color: transparent;
}
.icon {
    display: flex;
    align-items: center;
    
  }
 .img{
    margin-left:50px ;
    transform: translateY(-452px);
 }
 #img{
     height: 100px;
 }
 .b7{
    display: flex;
    width: 70%;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    border-radius: 0px;
    font-weight: bold;
    border: 2px solid;
    box-shadow: 5px 5px 0px rgba(51, 51, 51, 1) ;
    transition: 0.3s;
    transform: translateY(-490px);
   margin-left: 100px;

}
.b7:hover{
    box-shadow: 0 0 #333;
    color: #fff;
    background-color: black
}
/*/////////////////////////index//////////////////////////////*/

.bg1{
    background-image: url('nature.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
}
.bor1{
width: 599px;
height: 379px;
background-color: rgba(255, 255, 255, 0.5);
margin-left: 30px;
margin-top: -400px;
animation: fadeInRight 3s ease-out;

}
.img2{
width: 262px;
height: 334px;
flex-shrink: 0;
margin-left: 15px;
margin-top: 20px;
}
.text{
    margin-top: -322px;
    margin-left: 290px;
    color: #000;
    font-size: larger;
    
}
.bor2{
    width: 1299px;
    height: 429px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 180px;
    transform: translateY(14rem);
    z-index: 9999;
    border: 1px solid transparent; 
    backdrop-filter: blur(10px); 
    animation: fadeInLeft 2s ease-out
}
.img3{
    width: 399px;
    height: 334px;
    flex-shrink: 0;
    margin-left: -25px;
    margin-top: 50px;
}
.img4{
    width: 33px;
height: 33px;
flex-shrink: 0;
transform: translateY(-19rem);
margin-left: -25px;
}
.text2{
    color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
transform: translateY(-22.75rem);
margin-left: 395px;
}
.text3{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    width: 500px;
    transform: translateY(-23.25rem);
    margin-left: 410px;
}
.img5{
    width: 383px;
    height: 434px;
    flex-shrink: 0;
    transform: translateY(-46.75rem);
    margin-left: 905px;
    }

.B4{
        display:flex;
        width: 200px;
        height: 40px;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-size: 18px;
        color: #ff0000;
        background-color: transparent;
        border-radius: 5px;
        border: 2px solid;
        position: relative;
        overflow: hidden;
        transition: 0.3s;
        margin-left: 1070px;
        transform: translateY(-3.55rem);
    }
.B4:before{
        content: "Now";
        display: block;
        font-size: 11px;
        width: 60px;
        text-align: center;
        background-color: #f00;
        color: #fff;
        padding: 7px 0 3px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-34%, -4px) rotate(-35deg);
        transition: 0.3s;
    }
.B4:hover{
        color: #fff;
        background-color: #f00;
    }
.B4:hover:before{
        background-color: #fff;
        color: #f00;
    }

    .B5{
        display: flex;
        width: 200px;
        height: 40px;
        text-decoration: none;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        color: #07b92a;
        background-color: transparent;
        border-radius: 5px;
        border: solid 1px  #07b92a;
        position: relative;
        transition: 0.3;
        line-height: 1;
        margin-left: 1300px;
        margin-top: -100px;
    
    }
    .B5::before{
        content: "LETS GO";
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        font-size: 13px;
        background-color: #07B92A;
        color: #fff;
        border-radius: 3px;
        padding: 3px 5px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-5px, -30%);
        transition: 0.3s;
    }
    .B5:hover::before{
          transform: translate(-5px,-50%);
    }

    @keyframes fadeInRight {
        from {
            opacity: 0;
            transform: translateX(30px); /* Adjust the initial position based on your design */
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fadeInLeft {
        from {
            opacity: 0;
            transform: translateX(-30px); /* Adjust the initial position based on your design */
        }
        to {
            opacity: 1;
            transform: translateX(30);
        }
    }
