.bg{
    background: #9A9C46;
    overflow: hidden;
}
.img1{
     
      margin: 0;
      display:flex;
      max-width: 100%;
      max-height: 100%;
      justify-content: center;
      align-items: center;
      object-fit: cover;
}

.circle {
    width: 15px; /* Définit la largeur */
    height: 15px; /* Définit la hauteur (même valeur pour créer un cercle) */
    border-radius: 50%; /* Arrondi pour créer un cercle */
    background-color: white; /* Couleur de fond du cercle */
    margin-left: 720px;
    margin-top: 50px;
  }

.P1{
color: #FFF;
font-family: ORGANICAL PERSONAL USE;
font-size: 30px;
font-style: italic;
font-weight: 700;
line-height: normal;
transform: translateX(46.25rem);
margin-top: -30px;
}
.P2{
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.user-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.user-image{
  width: 280px;
  height: 261px;
  flex-shrink: 0;
  border-radius: 25px;
}

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 1400px;
  height: 600px;
  background-color: white;
  opacity: 1;
  z-index: 9999;
  transform: translateX(1.75rem);
  margin-top: 100px;
  border-radius: 25px;
  box-shadow: 29px 38px 41.7px -14px rgba(0, 0, 0, 0.60);
}
.user-image-overlay{
  width: 280px;
  height: 261px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 25px;


}
.p10{
  margin-left: 320px;
  margin-top: -250px;
  font-style: oblique;
}
.p11{
  margin-left: 320px;
  font-style: oblique;
}
.p12{
  margin-left: 320px;
  font-style: oblique;
}
.p13{
  margin-left: 320px;
  font-style: oblique;
}
.p14{
  margin-left: 320px;
  font-style: oblique;
}
.p15{
  margin-left: 40px;
  margin-top: 80px;
  font-style: oblique; 
}
.p155{
  margin-left: 40px;
  font-style: oblique; 
  margin-top: -10px;
}
.p16{
  margin-left: 40px;
  font-style: oblique; 
  margin-top: -10px;
}
.p17{
  margin-left: 40px;
  font-style: oblique; 
  margin-top: -10px;
}
.p18{
  margin-left: 40px;
  font-style: oblique;
  margin-top: -10px; 
}
.p19{
  margin-left: 40px;
  font-style: oblique; 
  margin-top: -10px;
}
.p20{
  margin-left: 40px;
  font-style: oblique; 
  margin-top: -10px;
}
.p21{
  margin-left: 40px;
  font-style: oblique; 
  margin-top: -10px;
}
.p22{
  margin-left: 40px;
  font-style: oblique; 
  margin-top: -10px;
}
.p23{
  margin-left: 40px;
  font-style: oblique; 
  margin-top: -10px;
}
.p24{
  margin-left: 1000px;
  margin-top: -547px;
  font-style: oblique;
  
}


